{% for vm in warhorse.vm|selectattr("cobaltstrike", "defined" ) %}
{% if vm.cobaltstrike.enabled %}
{% if loop.first %}
all:
  children:
    warhorse:
      children:
        {{ vm.provider }}:
          hosts:
{% endif %}
            {{ vm.name }}:
              cs_site_hostname: 'cs-{{ vm.name }}'
              cs_vpn_hostname: 'cobaltstrike'

              redirect_url: "azure.microsoft.com"
{% if warhorse.dns.provider == 'digitalocean' %}
              dns_plugin: 'digitalocean'
{% endif %}
{% if warhorse.dns.provider == 'linode' %}
              dns_plugin: "linode
{% endif %}

              cs_hostname: "cobaltstrike"
              cs_container_name: "cobaltstrike"

              cs_exp_date: '{% raw %}{{ ttl }}{% endraw %}'
{% if vm.cobaltstrike.profile is defined %}
              cs_profile_location: "{{ vm.cobaltstrike.profile }}"
{% else %}
              cs_profile_location: "{{ lookup('env', 'PWD') }}/OP/{{ warhorse.general.op_number }}/files/{{ vm.name }}/malleable.profile"
{% endif %}
              cs_docker_network: "{% raw %}{{ dockernet }}{% endraw %}"
              cs_dir: '/opt/docker/cobaltstrike'
              cs_ports:
                - "127.0.0.1:50050:50050"
{% for ports in vm.cobaltstrike.socks_ports %}
                - "127.0.0.1:{{ ports }}:{{ ports }}"
{% endfor %}
{% if vm.tailscale.enabled is true %}
                - "{% raw %}{{ ansible_tailscale0.ipv4.address }}:50050:50050{% endraw %}"
{% for ports in vm.cobaltstrike.socks_ports %}
                - "{% raw %}{{ ansible_tailscale0.ipv4.address }}:{% endraw %}{{ ports }}:{{ ports }}"
{% endfor %}
{% endif %}
{% if vm.cobaltstrike.dns_over_https is true %}
                - "{% raw %}{{ ansible_eth0.ipv4.address }}{% endraw %}:53:53/udp"
{% endif %}
{% if vm.http_proxy == "traefik" %}
              cs_docker_labels:
                traefik.docker.network: "{% raw %}{{ dockernet }}{% endraw %}"
                traefik.enable: "true"
                traefik.http.routers.cs.rule: "{% raw %}Host(`{{ cs_site_hostname }}.{{ op_domain_name }}`){% endraw %}"
                traefik.http.routers.cs.middlewares: "cdn@docker"
                traefik.http.routers.cs.tls: "true"
                traefik.http.routers.cs.tls.certresolver: "letsencrypt"
                traefik.http.services.cs.loadbalancer.server.scheme: "https"
                traefik.http.services.cs.loadbalancer.server.port: "443"
                traefik.frontend.passHostHeader: "true"
                traefik.frontend.headers.SSLHost: "{% raw %}{{ cs_site_hostname }}.{{ op_domain_name }}{% endraw %}"
{% endif %}
{% endif %}
{% endfor %}
  vars:
{% for vm in warhorse.vm|selectattr("cobaltstrike", "defined" ) %}
{% if vm.cobaltstrike.enabled %}
{% if vm.cobaltstrike.auth_header_value and vm.cobaltstrike.auth_header_name is defined %}
    cs_auth_header_value: "{{ vm.cobaltstrike.auth_header_value }}"
    cs_auth_header_name: "{{ vm.cobaltstrike.auth_header_name }}"
{% endif %}
    cs_cdn_hostname: "{% raw %}{{ op_number | hash('md5') | regex_search('.{5}$') }}{% endraw %}"
{% endif %}
{% endfor %}