---
{% for vm in warhorse.vm %}
{% if vm.tailscale is defined and vm.tailscale.enabled %}
- name: Cleanup Tailscale
  gather_facts: True
  hosts: {{ vm.name }}
  connection: ssh
  become: True
  vars: 
    deploy: false
  roles:
    - { role: warhorse.tailscale }
{% endif %}
{% endfor %}

{% for vm in warhorse.vm %}
{% if vm.backup is defined and vm.backup.enabled and vm.backup.archive_zip %}
- name: Backup Archive
  gather_facts: True
  hosts: {{ vm.name }}
  connection: ssh
  become: True
  vars: 
    deploy: false
  roles:
    - { role: warhorse.backup_archive }
{% endif %}
{% endfor %}

- name: Destroy Terraform
  hosts: localhost
  gather_facts: false
  connection: local
  vars: 
    deploy: false
  roles:
    - { role: terraform }

- name: Destroy SSH Key
  hosts: localhost
  gather_facts: false
  connection: local
  vars: 
    deploy: false
  tasks:
  - name: remove keys directory 
    ansible.builtin.file:
      path: "{% raw %}{{ item }}{% endraw %}"
      state: absent
    with_items:
      - "keys/{% raw %}id_rsa_ansible_{{ op_number }}{% endraw %}"
      - "keys/{% raw %}id_rsa_ansible_{{ op_number }}.pub{% endraw %}"

- name: Destroy Terraform Files and Inventory files
  hosts: localhost
  gather_facts: false
  connection: local
  vars: 
    deploy: false
  tasks:
  - name: remove terrafrom & inventory directory 
    ansible.builtin.file:
      path: "{% raw %}{{ item }}{% endraw %}"
      state: absent
    with_items:
      - "terraform"
      - "inventory"

{% if warhorse.notification.email is defined %}
- name: Destroy Extras
  gather_facts: yes
  hosts: localhost
  connection: ssh
  vars: 
    deploy: false
  roles:
    - { role: warhorse.notification }
{% endif %}
