{% for vm in warhorse.vm %}
{% if loop.first %}
all:
  children:
    warhorse:
      children:
        {{ vm.provider }}:
          hosts:
{% endif %}
            {{ vm.name }}:
{% if vm.cobaltstrike is defined and vm.cobaltstrike.enabled %}
                cs_password: "{{ vm.cobaltstrike.password }}"
                cs_key: "{{ vm.cobaltstrike.key }}"
{% endif %}
{% if warhorse.terraform.digitalocean_token is defined and vm.http_proxy == "nginx" %}
                nginx_digitalocean_token: "{{ warhorse.terraform.digitalocean_token }}"
{% endif %}
{% if warhorse.terraform.linode_token is defined and vm.http_proxy == "nginx" %}
                nginx_linode_token: "{{ warhorse.terraform.linode_token }}"
{% endif %}
{% if vm.tailscale.tailscale_auth_key is defined and vm.tailscale.enabled %}
                tailscale_auth_key: "{{ vm.tailscale.tailscale_auth_key }}"
{% endif %}
{% if vm.tailscale.tailscale_api_key is defined and vm.tailscale.enabled %}
                tailscale_api_key: "{{ vm.tailscale.tailscale_api_key }}"
{% endif %}
{% if vm.backup.backup_bucket_access_key is defined and vm.backup.enabled %}
                backup_bucket_access_key: "{{ vm.backup.backup_bucket_access_key }}"
                backup_bucket_secret_key: "{{ vm.backup.backup_bucket_secret_key }}"
{% endif %}
{% if vm.backup.enabled and vm.backup.archive_zip %}
                backup_archive_password: "{{ vm.backup.archive_password|default(warhorse.general.vault_key ) }}"
{% endif %}
{% if loop.last %}
  vars:
{% if warhorse.terraform.bucket_access_key is defined and warhorse.terraform.bucket_secret_key %}
    bucket_access_key: "{{ warhorse.terraform.bucket_access_key }}"
    bucket_secret_key: "{{ warhorse.terraform.bucket_secret_key }}"
{% endif %}
{% if warhorse.terraform.digitalocean_token is defined %}
    digitalocean_token: "{{ warhorse.terraform.digitalocean_token }}"
{% endif %}
{% if warhorse.terraform.linode_token is defined %}
    linode_token: "{{ warhorse.terraform.linode_token }}"
{% endif %}
{% if warhorse.notification.email.username is defined and warhorse.notification.email.password %}
    notification_email_username: "{{ warhorse.notification.email.username }}"
    notification_email_password: "{{ warhorse.notification.email.password }}"
{% endif %}
{% endif %}
{% endfor %}